#root {
  display: flex;
  width: 100%;
  justify-content: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: space-around;
}

.App .image {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
